<div class="content-wrapper-boot"  data-layoutId="main-bodyindex" data-htmlUrl="/ui/form.html">

    <!-- Content Header (Page header) 
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content" id="main-bodyDemo"  data-layoutId="main-bodyDemo" data-htmlUrl="/ui/view/main-bodyDemo.html">
    -->
      <!-- 
      
      Small boxes (Stat box) -->

    <!-- /.content -->
  </div>
  
  <script>
  var content_wrapper_m_h = $(window).height()-50;
  console.log(content_wrapper_m_h);
  $(".content-wrapper").css("min-height", content_wrapper_m_h +"px");
</script>
  